#!/bin/bash
#SBATCH --job-name="{{ name }}"
#SBATCH --nodes=1 --ntasks-per-node=1
{% if gpu %}
#SBATCH --partition=gpu --gres=gpu:{{ gpu|int }}
{% endif -%}
#SBATCH --time={{ walltime|int }}:00:00 --mem={{ mem|int }}000
#SBATCH --output="{{ stdout }}"
#SBATCH --error="{{ stderr }}"